<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>STREAM DB</h1>
<form method="POST" action="/add">
  <label for="choose_a">Search for a:</label>
    <select name="option" id="search">
      <option value="movie">Movie</option>
      <option value="tv_show">Tv-Show</option>
      <option value="artist">Artist</option>
      <option value="stream_plat">Streaming-Platform</option>>
    </select>
    <input type="text" name="name"><input type="submit" value="Search">
</form>

</body>


</html>