<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>STREAM DB</h1>


<div>
  <form method="GET" action="/search">
    <label for="choose_a">Search for a:</label>
      <select name="option" id="search">
        <option value="movie">Movie</option>
        <option value="tv_show">Tv-Show</option>
        <option value="artist">Artist</option>
        <option value="stream_plat">Streaming-Platform</option>>
      </select>
      <input type="text" name="name"><input type="submit" value="Search">
  </form>
</div>


<div>
  <form method="GET" action="/movie_search">
    <label for="choose_a">Search Movies:</label>
      
      <input type="text" placeholder="Enter Movie name" name="name">
      <input type="text" placeholder="Enter Artist Name" name="artist">
      <input type="text" placeholder="Enter Language" name="language">

      <select name="platform">
        <option value="">Select Platform</option>
        <option value="Netflix">Netflix</option>
        <option value="Amazon Prime">Amazon Prime</option>
        <option value="Hulu">Hulu</option>
        <option value="Disney Plus">Disney Plus</option>>
        <option value="HBO max">HBO max</option>>
      </select>

      <select name="genre">
        <option value="">Select genre</option>
        <option value="Thriller">Thriller</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Action">Action</option>>
        <option value="Horror">Horror</option>>
        <option value="Fantasy">Fantasy</option>>
        <option value="Anime">Anime</option>>
        <option value="Romance">Romance</option>>
      </select>

      <select name="sort_by_rating">
        <option value="">Order by rating?</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>

      <input type="submit" value="Search">
  </form>
</div>


<div>
  <form method="GET" action="/tvshow_search">
    <label for="choose_a">Search TV Shows:</label>
      
      <input type="text" placeholder="Enter Movie name" name="name">
      <input type="text" placeholder="Enter Artist Name" name="artist">
      <input type="text" placeholder="Enter Language" name="language">

      <select name="platform">
        <option value="">Select Platform</option>
        <option value="Netflix">Netflix</option>
        <option value="Amazon Prime">Amazon Prime</option>
        <option value="Hulu">Hulu</option>
        <option value="Disney Plus">Disney Plus</option>>
        <option value="HBO max">HBO max</option>>
      </select>

      <select name="genre">
        <option value="">Select genre</option>
        <option value="Thriller">Thriller</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Action">Action</option>>
        <option value="Horror">Horror</option>>
        <option value="Fantasy">Fantasy</option>>
        <option value="Anime">Anime</option>>
        <option value="Romance">Romance</option>>
      </select>

      <select name="sort_by_rating">
        <option value="">Order by rating?</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>

      <input type="submit" value="Search">
  </form>
</div>

<div> What's the best Platform for me? </div>

<div>
  <form method="GET" action="/best_platform">
    <label for="i_love">I love: </label>
    
    <select name="category">
      <option value="">Select Category</option>
      <option value="artist">Artist</option>
      <option value="genre">Genre</option>
      <option value="language">Language</option>
    </select>

    <input type="text" name="name">
    <input type="submit" value="Search">
      
  </form>
</div>



<div>
  <form method="GET" action="/signup">
    <button type="submit">Signup</button>
  </form>
  <form method="GET" action="/login">
    <button type="submit">Login</button>
  </form>
</div>


<h3>Highest Rated Movies: </h3>
    <div>
        {% for n in rated_movies %}
        <div>{{n}}</div>
        {% endfor %}
    </div>

<h3>Highest Grossing Movies: </h3>
    <div>
        {% for n in grossing_movies %}
        <div>{{n}}</div>
        {% endfor %}        
    </div>
<h3>Highest Rated TV shows: </h3>
    <div>
        {% for n in rated_tvshows %}
        <div>{{n}}</div>
        {% endfor %}        
    </div>

  <h3>Most prolific artists in Movies: </h3>
    <div>
        {% for n in prolific_actors %}
        <div>{{n}}</div>
        {% endfor %}        
    </div>


  </body>
</html>